@{
    ViewBag.Title = "Contact";
}
@Html.Hidden("Id",0);
<div class="container" style="margin-top:20px">
    <div class="row">
        <div class="col-md-3">
            @Html.Label("Description", new { @class = "control-label" })
            @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-3">
            @Html.Label("Priority", new { @class = "control-label" })
            @Html.DropDownList("Priority", new List<SelectListItem>(), new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary" style="margin-top: 25px" id="btnAdd">Save</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Description</th>
                <th scope="col">Priority</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="items"></tbody>
    </table>
</div>

<script src="~/Scripts/TypeScript/Task/Index.js?t=1"></script>
